nextflow.enable.dsl=2

plugins {
    id 'nf-amazon'
}


profiles {
    docker {
        docker.enabled = true
    }

    awsbatch {
	trace {
	    enabled = false
	    file = 'pipeline_trace.txt'
	    fields = 'task_id,name,status,exit,realtime,%cpu,rs'
	}

	executor.name = 'awsbatch'
	params.tracedir = '/mnt/d/traces'	
	process {
	    executor = 'awsbatch'
            queue = 'ExecutorQueue'
	}

	
	
        aws {
	    batch {
		cliPath = '/home/ec2-user/miniconda/bin/aws'
	    }
	    region = 'ap-southeast-1'
	    
	}
    }
}
