plugins {
    id 'nf-amazon'
}


profiles {
    docker {
        docker.enabled = true
    }

    awsbatch {
        docker.enabled = true
        process.executor = 'awsbatch'
        process.queue = 'ExecutorQueue'
	executor.name = 'awsbatch'
	
        aws {
	    batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
	    region = 'ap-southeast-1'
	}
    }
}
