profiles {
    docker {
        process.container = 'nextflow/examples:latest'
        docker.enabled = true
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'nextflow-awsbatch-queue-2'
        aws.region = 'ap-southeast-1'
        executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    }
}
